<div id="forms-example">
	<h4>Simple Form Validation</h4>
	<div class="forms-example-1">
		<div class="row">
			<div class="col-md-6">
				<form name="profileForm" class="form-horizontal" role="form" novalidate>
					<div class="form-group form-group-sm">
						<label class="col-sm-4 control-label" for="email">Email address</label>
						<div class="col-xs-8">
							<input type="email" class="form-control" id="email" ng-model="example1.email" name="email" ng-required="true" placeholder="Enter email">
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-6">
				<pre style="max-height: 120px; overflow: auto;">Data modal object:<br />{{example1 | json}}
				<br />profileForm.email.$valid : {{profileForm.email.$valid}}
				<br />profileForm.$pristine : {{profileForm.$pristine}}
				</pre>
			</div>
		</div>
	</div>

	<h4>Build in validators</h4>
	<div class="forms-example-2">
		<div class="row">
			<div class="col-md-6">
				<form name="builtInValidationForm" class="form-horizontal" role="form" novalidate ng-submit="submitExample2()">
					<div class="form-group form-group-sm">
						<label class="col-sm-4 control-label" for="name">Name</label>
						<div class="col-xs-8">
							<input type="test" class="form-control" id="name" ng-model="example2.name" name="name" ng-required="true" placeholder="Enter your name" ng-maxlength="20">
						</div>
					</div>
					<div class="form-group form-group-sm">
						<label class="col-sm-4 control-label" for="pan">PAN Number</label>
						<div class="col-xs-8">
							<input type="test" class="form-control" id="pan" ng-model="example2.pan" name="pan" ng-required="true" placeholder="Enter PAN number" ng-maxlength="10" ng-minlength="10">
							<div ng-show="builtInValidationForm.pan.$error.required">PAN number is required.</div>
							<div ng-show="builtInValidationForm.pan.$error.maxlength">PAN number should be a maximum of 10 characters.</div>
							<div ng-show="builtInValidationForm.pan.$error.minlength">PAN number should be a minimum of 10 characters.</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">Sign in</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-6">
				<pre style="max-height: 120px; overflow: auto;">Data modal object:<br />{{example2 | json}}
				<br />builtInValidationForm.pan.$valid : {{builtInValidationForm.pan.$valid}}
				<br />builtInValidationForm.$error : {{builtInValidationForm.$error | json}}
				<br />builtInValidationForm.pan.$error : {{builtInValidationForm.pan.$error | json}}
				</pre>
			</div>
		</div>
	</div>
</div>