<div id="forms-example">
	<h4>Simple Form Validation</h4>
	<div class="forms-example-1">
		<div class="row">
			<div class="col-md-6">
				<form name="profileForm" class="form-horizontal" role="form" novalidate>
					<div class="form-group form-group-sm">
						<label class="col-sm-4 control-label" for="email">Email address</label>
						<div class="col-xs-8">
							<input type="email" class="form-control" id="email" ng-model="profileDetails.email" name="email" ng-required="true" placeholder="Enter email">
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-6">
				<pre style="max-height: 120px; overflow: auto;">Data modal object:<br />{{profileDetails | json}}
				<br />profileForm.email.$valid : {{profileForm.email.$valid}}
				<br />profileForm.$pristine : {{profileForm.$pristine}}
				</pre>
			</div>
		</div>

	</div>
</div>